{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        // "transform-vue-jsx", 
        [
            "component",
            {
                "libraryName": "element-ui",
                "styleLibraryName": "theme-chalk"
            }
        ]
        // ["@babel/plugin-proposal-decorators",{"legacy": true }],
        // "react-hot-loader/babel",
        // "add-module-exports",
        // "@babel/plugin-proposal-class-properties"
    ]
}